.panelContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
}

.leftPanel {
  background-color: $background-color1;
  border: 2px solid $accent-color1;
  width: 65vw;
  height: 100%;
}

.rightPanel {
  background-color: $background-color1;
  border: 2px solid $accent-color1;
  width: 35vw;
  height: 100%;
 } 

.rightPanelTop {
  max-height: 25%;
  overflow-y: scroll;
}

 .rightPanelBottom {
  max-height: 75%;
  overflow-y: scroll;
 }

.title {
  text-align: center;
  margin: 0;
  padding: 10px;
  color: $RF-lightblue;
  background-color: $accent-color1;
}

.subTitle {
  color: $font-color2;
  padding: 0 10px;
}

button {
  color: $font-color1;
  font-size: medium;
  padding: 5px;
  outline: none;
  text-decoration: none;
  background-color: $accent-color1;
  border: none;
  cursor: pointer;
  transition-duration: .25s;
}

button:hover {
  color: $RF-orange;
}

.clearSelection {
  border-radius: 0 5px 0 0;
}
