@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  font-family: 'Varela Round', sans-serif;
}

.widget {
  min-width: 600px;
}

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  background-color: $background-color1;
  height: 100vh;
}

#root {
  height: 100vh;
}